<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="description" content="Sistema de curriculos"></meta>
		<meta name="description" content="Free Web tutorials"></meta>
	  	<meta name="keywords" content="HTML,CSS,XML,JavaScript"></meta>
	  	<meta name="author" content="John Doe"></meta>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:500"></link>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600"></link>
		<link rel="stylesheet" type="text/css" href="/framework/semantic/semantic.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/default/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/MainStatic.css"></link>
		<script src="/framework/semantic/semantic.js"></script>
		<script src="/css/curriculo.js"></script>
		<title>Curricluns</title>
	</head>
	
	<body>
		<div id="body" class="ui container" >
		
			<div id="background-top">
				<img id="imagem-background-top" class="img-fluid rounded mx-auto d-block" src="/imagens/curriculo_titulo_fundo.jpg"></img> 
				<img id="imagem-logo-top" class="img-fluid" src="/imagens/java-logo.png"></img> 
			</div>
			
			<p id="nome">
				Hoiama Rosa Rodrigues Costa
			</p>
		
			<p id="profissao">
				Desenvolvedor FullStack | Júnior
			</p>
			
			<p id="local">
				Itajaí - SC (Disponibilidade para mudança)
			</p>
			
			<div id="contatos" class="ui four column doubling stackable grid container center aligned">
				<div class="column">
					<img class="icone-mini"  src="/imagens/contato_github.png"></img> 
					github.com/hoiama
				</div>
				<div class="column">
					<img class="icone-mini"  src="/imagens/contato_whatsapp.png"></img> 
					(48)98845-5119
				</div>
				<div class="column">
					<img class="icone-mini"  src="/imagens/contato_email.png"></img> 
					hoiama9@gmail.com
				</div>
				<div class="column">
					<img class="icone-mini"  src="/imagens/contato_skype.png"></img> 
					Hoiama Rodrigues
				</div>
			</div>
			
			<p id="objetivo">
				Busco oportunidade na área de Desenvolvimento Web com foco na linguagem Java.
			</p>
			
			<div class="ui text container">
			
				<p id="resumo">
					4 anos de experiência em infraestrutura e 1 ano em desenvolvimento, atualmente especializando em
					programação FullStack com Java/Spring + Angular. Voltado para Cloud computing em ambiente Linux
					e projetos open source.
				</p>
				
				<h4 class="titulos" > Formação acadêmica </h4>
				
				
				
<!-- 				AREA DE DESTES -->

						<div class="ui divided items font-padrao">
						  <div class="item">
						    <div class="ui mini image ">
						    	<img class="logo-formacao" src="/imagens/formacao2.png">
						    </div>
						    
						    <div class="middle aligned content ">
						    	<div class="ui stackable three column grid">
								  <div class="column">Pós graduação FullStack</div>
								  <div class="column">Universidade IGTI</div>
								  <div class="column">2018 - 2019</div>
								</div>
						    </div>
						  </div>
						  <div class="item">
						    <div class="ui mini image ">
						    	<img class="logo-formacao" src="/imagens/formacao2.png">
						    </div>
						    
						    <div class="middle aligned content ">
						    	<div class="ui stackable three column grid">
								  <div class="column">Pós graduação FullStack</div>
								  <div class="column">Universidade IGTI</div>
								  <div class="column">2018 - 2019</div>
								</div>
						    </div>
						  </div>
						  <div class="item">
						    <div class="ui mini image ">
						    	<img class="logo-formacao" src="/imagens/formacao2.png">
						    </div>
						    
						    <div class="middle aligned content ">
						    	<div class="ui stackable three column grid">
								  <div class="column">Pós graduação FullStack</div>
								  <div class="column">Universidade IGTI</div>
								  <div class="column">2018 - 2019</div>
								</div>
						    </div>
						  </div>
						  
						</div>			
				
				
				
				
<!-- 						<div class="ui divided items"> -->
						
<!-- 							<div class="item"> -->
<!-- 							    <img class="logo-formacao img-thumbnail" src="/imagens/formacao2.png"> -->
							    
<!-- 							    <div class="content"> -->
<!-- 							      <a class="header">Pós graduação FullStack</a> -->
							      
<!-- 							      <div class="meta"> -->
<!-- 							        <span class="cinema">IGTI</span> -->
<!-- 							      </div> -->
							      
<!-- 							      <div class="description">  -->
<!-- 							      	2018 - 2019 -->
<!-- 							      </div> -->
							      
<!-- 							      <div class="extra"> -->
<!-- 							        <div class="ui label"> -->
<!-- 							        	<i class="globe icon"></i> Concluido -->
<!-- 							        </div> -->
<!-- 							      </div> -->
<!-- 							   </div> -->
<!-- 						</div> -->
				
			</div>
		</div>
	</body>
</html>			
		
		

		

			
<!-- 				 -->
				
<!-- 				<table id="formacao" class="formacao" > -->
<!-- 					<tr> -->
<!-- 						<td><img class="logo-formacao" src="/imagens/formacao5.png" style=" width: 30px height:30px"></td> -->
<!-- 						<td> Pós-Graduação em Full Stack </td> -->
<!-- 						<td> IGTI </td> -->
<!-- 						<td> 2018 - 2019 </td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td><img class="logo-formacao img-thumbnail" src="/imagens/formacao2.png"></td> -->
<!-- 						<td>Pós-Graduação em Arquitetura de Cloud Computing </td> -->
<!-- 						<td>Universidade Estácio de Sá</td> -->
<!-- 						<td>2017 - 2018</td> -->
<!-- 					</tr> -->
<!-- 				</table>				 -->
			
<!-- 				<h4 class="titulos"> Experiência </h4> -->
				
<!-- 				<div class="linha-cima-baixo"> -->
<!-- 					<div style="display: inline-flex"> -->
<!-- 						<div id="experiencia-logo-block"> -->
<!-- 							<img class="experiencia-logo img-thumbnail" src="/imagens/Empresa5.png"> -->
<!-- 						</div> -->
<!-- 						<div id="experiencia-topo"> -->
<!-- 							<ul class="none"> -->
<!-- 								<li> <strong>Analista de TI </strong> </li> -->
<!-- 								<li> Força Aérea Brasileira </li> -->
<!-- 								<li> Mai 2016 - Jan 2018 (1 ano 8 meses) </li> -->
<!-- 								<li> Manaus, Brasil </li> -->
<!-- 							</ul> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<p></p>  -->
<!-- 					<div class="justificado"> -->
<!-- 						Sistemas e plataformas CMS, Sistemas básicos em Java e PHP, puppet, servidores, redes, -->
<!-- 						help desk remoto, manutenção e configuração de linux, montagem e configuração de -->
<!-- 						servidores, switch e roteadores, cabeamento estruturado, elaboração de relatórios, -->
<!-- 						documentos e auditoria de sistemas.  -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				
				
				
				
				
					
<!-- 					<div class=""> -->
<!-- 						<div class="four wide column"> -->
<!-- 							<img class="ui mini image" src="/imagens/Curso6.png"> -->
<!-- 						</div> -->
<!-- 						<div class="twelve wide column"> -->
<!-- 							<div class="ui grid stackable"> -->
<!-- 								<div class="four wide column">HTML 5</div> -->
<!-- 								<div class="four wide column">Alura</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

				
				
				




